<div class="container mt-5 ">
    <div><i class="fa fa-check-circle fa-5x" style="color: green;"></i></div>
    <h2>Thank you. Your order is confirmed</h2>
    <p class="mb-4 "> Your order will be shipped soon, probably<img
            src="https://em-content.zobj.net/source/microsoft/319/winking-face_1f609.png" title="smileyFace"
            style="max-height: 3em;">
    </p>
    <button *ngIf="order" class="btn btn-outline-success" routerLink="/orders/{{order.id}}">View your order</button>
    <button *ngIf="!order" class="btn btn-outline-success" routerLink="/orders">Go to orders</button>
</div>