.list-group-item {
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    font-size: 1.1em;
    border-radius: 10px;

    &.active {
        background-color: rgb(159, 229, 249);
        color: black;
    }

    &:not(.active):hover {
        color: white;
        background-color: rgba(159, 229, 249, 0.5);
    }
}